.active-pending {
  border: 5px solid #b21c08;
}
.active-confirmed {
  border: 5px solid #e08c04;
}
.active-transit {
  border: 5px solid #006d3c;
}

#pending_count,
#transit_count,
#confirmed_count {
  cursor: pointer;
}

.map_custom {
  height: 200px;
  background-color: #ccc;
  margin-bottom: 60px;
  z-index: -3;
}

.rider_picture_custom {
  width: 100px;
  height: 100px;
  margin-top: -114px;
  float: left;
  margin-left: 17px;
  background-color: white; /* z-index: 9999; */
  position: absolute;
}

.force_blue {
  /* background-color: #FFFFFF !important; */
  color: #3c8dbc;
  border-radius: 5px !important;
  margin-bottom: 3px;
  border-radius: 3px !important;
  padding: 6px !important;
  min-width: 84px;
  margin-right: 3px !important;
  border: 0px solid #fff !important;
  background-color: #ffffff !important;
  border: 1px solid #3c8dbc !important;
  font-size: 13px;
}
.helpscout-error {
  text-align: center;
  color: red;
}
.final-call-modal {
  width: 70%;
}
.modal-scrollable {
  height: 750px;
  overflow-y: auto;
}

.call-final-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.call-final-col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: column;
}
.call-final-col-title {
  display: flex;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 10px;
}
.call-final-ticket {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 2px solid #333;
  padding: 10px;
}
.call_init_type {
  text-transform: capitalize;
}
.call-final-ticket-title {
  font-weight: bold;
}
.add-ticket-btn {
  width: 100px;
  color: #fff;
  height: 40px;
  background-color: #1782c5;
}
.bottom-space {
  margin-bottom: 10px;
}
.call-final-info {
  display: flex;
  flex: 1.5;
  flex-direction: column;
}

.force_blue:hover {
  background-color: #367fa9 !important;
  color: white !important;
}
.force_blue:active {
  background-color: #367fa9 !important;
}

.order_row_home {
  cursor: pointer;
}

.order_row_home td {
  border-top: 0px solid #06c !important;
}

.order_row_home_lower td {
  border-bottom: 0px solid #000 !important; /* background-color:rgba(245, 245, 245, 0.56) !important; */
}

.lower_slide_bit {
  border-bottom: 1px solid #f4f4f4;
  padding: 15px 15px 0px 15px;
}

.loading_content {
  padding: 10px 0px 20px 0px;
}

.rider_name_here {
  margin-top: -50px;
  margin-bottom: 10px;
  margin-left: 125px;
}

.fasendy {
  width: 50px;
}

.order_map_here {
  margin-top: 3px;
  background-color: rgba(153, 153, 153, 0.28);
  height: 446px;
  width: 100%;
  border: 0px;
}

.space_tab {
  padding: 16px;
}

.new_row_here {
  background-color: rgba(0, 156, 247, 0.21);
}
.new_row_here td {
  border: 1px solid rgba(60, 141, 188, 0) !important;
}

.icon_bit_upper {
  padding-right: 9px;
}

.text_bit_upper {
  font-size: 13px;
}
.right_lower {
  height: 381px;
}

.flow_container {
  padding: 20px;
  border: dotted 1px;
  white-space: nowrap;
  overflow-x: auto;
}

.flow_box {
  width: 100px;
  height: 180px;
  background-color: red;
  margin: 10px;
  display: inline-block;
}

.tracking_map_table {
  border-collapse: collapse;
}

.currency-holder {
  display: flex;
}

.currency-tabs {
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdbdbd;
}

.active-currency-button {
  color: white;
  background: #1b7fc3;
  border: 1px solid #1b7fc3;
}

.tracking_map_table td {
  height: 34px;
  font-size: 15px;
  padding: 8px;
  color: #008db4;
  border: 1px solid;
  /* text-align: center; */
  font-weight: 400;
  font-size: 13px;
  line-height: 151%;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.compare_memem {
  width: 100%;
  border: 0px solid #fff;
  height: 700px;
}

.push_order {
  background-color: rgba(0, 156, 247, 0.21);
}

.pull_attention {
  background-color: rgba(197, 2, 2, 0.18);
}

.pull_attention:hover {
  background-color: rgba(197, 2, 2, 0.28) !important;
  cursor: pointer;
}

.pull_attention td {
  border: 0px solid !important;
}

.small_console_log {
  bottom: 0px;
  height: 30px;
  right: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
  padding: 7px;
  font-size: 12px;
  position: fixed;
  display: inline-table;
}

.small_console_log div {
  border: 1px solid yellow;
  margin: 3px;
  padding: 3px;
  display: list-item;
}

.going_to_page {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.59);
  position: fixed;
  bottom: -70px;
  margin-left: 50%;
  left: -150px;
  color: #ffffff;
  padding: 6px;
  text-align: center;
  border-radius: 3px 3px 0px 0px;
  height: 32px;
}

.rider_assign_2 {
  /* width: 100%; */
  border-collapse: collapse;
}

.rider_assign_2 td {
  /* border: 1px solid rgba(6, 6, 6, 0.47) !important; */
  /* border-bottom: 2px solid black !important; */
  padding: 5px 26px 5px 0px;
  color: rgba(6, 6, 6, 0.71);
}

.my_radio {
  margin-right: 2px !important;
}

.rider_assign_2_td {
  /* border: 1px solid #3C8DBC !important; */
}

.besty_rider_now {
  width: 527px;
  border: 1px solid #d2d6de;
  margin-top: 10px;
  padding: 8px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.request_new_rider_place {
  width: 140px;
  float: right;
}

.left_float_button {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  /* padding: 0 2rem; */
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f44336 !important;
  border-radius: 50%;
  text-align: center;
  font-size: 37px;
  position: fixed;
  bottom: 7px;
  left: 7px;
  z-index: 2222;
}

.min_checky {
  width: 21px; /* background-color: #396082; */
  display: inline-block;
}

.custom_rotator {
  float: right;
  font-size: 12px; /* padding: 10px 7px 7px 7px; */
  color: transparent; /* background-color: aliceblue; */
  height: 15px !important;
  width: 15px;
  line-height: 15px;
  text-align: center;
  margin-top: 3px;
}

.custom_rotator_hover {
  color: green;
}

.custom_rotator_round {
  color: green !important;
  -webkit-animation: spin 1s infinite linear;
}

.call-init-modal {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0px !important;
  width: 500px !important;
}
.call-init-row {
  display: flex;
  justify-content: space-between;
}
.call-init-item {
  display: flex;
  flex: 1;
  padding: 10px;
}
.modal-title {
  margin-top: -2px;
  display: inline-block;
  font-size: large;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.padded-button-wrapper {
  padding-top: 10px;
}
.forgot_password_custom {
  margin: 0;
  text-align: center;
  padding: 0 20px 0 20px;
  position: relative;
  top: 10px;
}
.companion_order {
  cursor: pointer;
}

/* qoutes */
.qoute--details-wrap {
  padding: 10px;
}
.qoute--vehicle-details {
  width: 50%;
  display: inline-block;
}
.qoute--driver-details {
  width: 50%;
  display: inline-block;
  float: right;
}

.qoute--vehicle-details-title,
.qoute--driver-details-title {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 15px;
}
.qoute--details-row {
  cursor: pointer;
}
.qoute--details-row td {
  vertical-align: middle !important;
}

.qoute--details-collapse td {
  padding: 0px !important;
}
.qoute--icon-show {
  margin-right: 5px;
}
.qoute--icon-hide {
  display: none;
}
.qoute--btn-accept {
  height: 30px;
  padding-top: 2px;
  font-size: 12px;
  width: 100px;
}
.qoute--data {
  width: 100px;
}
.empty-block--charge_commission {
  height: 2.5rem;
}
.charge_commission--label {
  font-weight: 400;
}
.fa-search {
  font-size: x-large;
  vertical-align: text-top;
  padding: 10px;
  color: #3c8dbc;
  margin-top: -16px;
}
.wrapper {
  font-size: 13px !important;
}
.navbar-nav {
  flex-direction: row;
  margin-right: 3em;
  padding: 12px 0px;
}
.navbar {
  position: relative;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
.main-sidebar {
  position: fixed !important;
}
.btn {
  font-size: inherit;
  line-height: inherit;
}
.search_bar {
  font-size: 18px;
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.content {
  min-height: 0px !important;
  padding-bottom: 0px !important;
}
.content-body {
  margin-left: 0 !important;
}
.content-holder {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.full-width {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.user-search {
  font-size: x-large;
  vertical-align: text-top;
  padding: 0 10px;
}
.search-rider {
  display: inline-block;
}
.main-section-holder {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.error-page {
  text-align: center;
}

.error-page a {
  text-decoration: none;
  color: red;
}

.error-page a:hover,
.error-page a:active {
  color: salmon;
}
.reload_map_kali {
  color: #3c8dbc;
  position: absolute;
  left: 301px;
  margin-top: -81px;
  background-color: white;
  padding: 4px;
}
.dnotes_ind {
  background-color: #0e4271 !important;
}
.pending_ind {
  background-color: #dd4b39 !important;
}
.cancelled_ind {
  background-color: purple !important;
}
.transit_ind {
  background-color: #00a65a !important;
}
.confirmed_ind {
  background-color: #f39c12 !important;
}
.delivered_ind {
  background-color: #3c8dbc !important;
}
.picked_ind {
  background-color: #3c8dbc !important;
}
.request_ind {
  background-color: blueviolet !important;
}
.disputed_ind {
  background-color: black !important;
}
.resolved_ind {
  background-color: grey !important;
}
.appealed_ind {
  background-color: grey !important;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.pull_attention {
  background-color: rgba(197, 2, 2, 0.18);
  border: 1px solid #f4f4f4;
}
table {
  /* cursor: pointer; */
}
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline > li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}
.timeline > li > .timeline-item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 0;
  background: #fff;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}
.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  padding: 10px;
  font-size: 12px;
}
.no-border {
  border: 0 !important;
}
.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  font-size: 13px;
  line-height: 1.1;
}
.timeline-inverse > li > .timeline-item {
  background: #f0f0f0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
profile-user-img {
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid #d2d6de;
}
.rider_picture_custom {
  width: 100px;
  height: 100px;
  margin-top: -65px;
  float: left;
  margin-left: 17px;
  background-color: white;
  /* z-index: 9999; */
  position: absolute;
  border: 3px solid #d2d6de;
  padding: 3px;
}
.rider_name_here {
  margin-top: -50px;
  margin-bottom: 10px;
  margin-left: 125px;
}
.post {
  color: #666;
}
.post:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.post .user-block {
  margin-bottom: 15px;
}
.img-circle {
  border-radius: 50%;
}
.map_bar {
  position: absolute;
  position: absolute;
  left: 4%;
  z-index: 99;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #008db4;
  color: #008db4;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 79px;
}
.recheck {
  margin-top: 5px;
}
.proximity-point {
  padding: 0px !important;
  height: 40px;
}
table {
  cursor: default;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #f4f4f4;
}
.table > tbody > tr:hover {
  background: none;
}
/* NAV TABS */

.nav-tabs {
  border-bottom: 1px solid #f4f4f4;
}
.nav-tabs .nav-link {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-top-color: #3c8dbc;
  border-left-color: #ffff;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #444;
}
.nav-tabs .nav-item.show .nav-link:hover,
.nav-tabs .nav-link:hover {
  background: #ffff;
  color: #999;
  border: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
  background: #ffff;
  border-top: 3px solid #3c8dbc;
  border-bottom: none;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
}
.tab-content {
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bg-aqua {
  float: right !important;
}
.delay {
  color: deeppink;
  font-weight: 100;
}
.cash-display {
  float: right;
  background-color: transparent;
}
.fa-money {
  color: green;
}
.vendor-label {
  float: right;
}
.order_view_lower_cell {
  padding: 0px;
  background-color: rgba(245, 245, 245, 0.56) !important;
  font-size: 13px;
}
.search-td {
  width: 33%;
}
.status-td {
  width: 21%;
}
.city-class {
  width: 35%;
}
.reorganize {
  width: 11%;
  color: #fff;
  cursor: pointer;
}
.search-window {
  margin-top: 16px;
}
.user_button_view {
  padding: 16px 10px 0px 10px;
}
.nav-item > .action-list {
  border: 1px solid;
  border: 1px solid #3c8dbc;
  color: #3c8dbc;
  margin-bottom: 3px;
  border-radius: 3px;
  margin-right: 3px !important;
  font-size: 13px;
  width: 94px;
  height: 33px;
  color: #3c8dbc !important;
}
.action-list {
  padding: 7px 5px;
}
.action-list:hover {
  background: #3c8dbc !important;
  color: #ffff !important;
  border: none;
  cursor: pointer;
}
.action-list.active:hover {
  background: #3c8dbc !important;
  border: none;
  color: #ffff !important;
}
.action-list.active {
  background: #3c8dbc !important;
  border: none;
  color: #ffff !important;
}
.blinder {
  background: #00000063;
  width: 96%;
  height: 98%;
  position: absolute;
  z-index: 10;
  display: block;
  overflow: hidden;
}
.loader {
  color: #3c8dbc;
  font-weight: 700;
  font-size: 19px;
}
.select {
  border: none;
}
.bg-info {
  font-size: 8px;
  background: #00c0ef !important;
  margin-left: 1px;
}
.driver-details-popup {
  background: white;
  width: 40%;
  height: max-content;
  padding: 5%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10%;
  display: block;
}
.add-driver-prompt-photo {
  margin: auto;
  display: block;
}
.add-driver-prompt-par {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 5px;
}
.save-driver-prompt-par {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #1b7fc3;
  margin-top: 0px;
  margin-bottom: 5px;
}
.save-driver-prompt-button {
  background: #dcebfa;
  border-color: #dcebfa;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: auto;
  font-weight: 300;
  font-size: 15px;
  color: #0f4271;
  cursor: pointer;
}
.ignore-driver-prompt-par {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #474747;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}
.assigned-component {
  display: flex;
  width: max-content;
  float: left;
}
.assigned-component-tabs {
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  width: 135px;
  color: #bdbdbd;
  text-transform: uppercase;
}
.orders-counter {
  font-size: 45px;
  font-weight: 700;
}
.button--create-child {
  height: 100px;
  width: 250px;
  margin: 10px;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  background: #1b7fc3;
}
.child-order-inputs {
  border: 1px solid #f1f1f1;
  margin: 20px;
  padding: 40px;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
.container-inputs {
  width: 18%;
  margin: 0.5%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  padding: 10px;
}
.container-inputs:focus {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
.cell-override {
  padding: 15px !important;
  position: relative;
}
.create--order {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background: #1a7fc3;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 50px;
  margin-left: auto;
  display: block;
}
.create--order-header {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: underline;
}
.child-orders-table {
  width: -webkit-fill-available;
  margin: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
.child-orders-table-head {
  font-weight: 600;
}
.child-orders-table-head,
.child-orders-table-row {
  display: flex;
}
.child-orders-table-head:hover {
  background: #f6f6f6 !important;
}
.child-orders-table-row:hover {
  background: rgba(202, 198, 198, 0.47843);
}
.child1,
.child2,
.child3,
.child4,
.child5,
.child6,
.child7 {
  min-height: 40px;
  padding: 12px;
  border: 0.1px solid rgba(202, 198, 198, 0.47843);
}
.child1 {
  width: 10%;
}
.child2 {
  width: 20%;
}
.child3 {
  width: 10%;
}
.child4 {
  width: 20%;
}
.child5,
.child6 {
  width: 10%;
  position: relative;
  padding: 0 !important;
}
.child7 {
  width: 20%;
}
.freight-actions {
  background: white;
  margin: 15px;
  max-width: -webkit-fill-available;
  padding: 10px;
}
.freight-order-actions-tabs {
  margin: 15px 5px 15px;
}
.freight-assign-rider-buttons,
.freight-assign-new-rider-buttons {
  height: 40px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #d3d6d8;
  margin: 5px;
}
.freight-assign-rider-rate-input {
  width: 160px;
}
.freight-assign-new-rider-buttons {
  width: 118px;
}
.freight-assign-rider-buttons:focus,
.freight-assign-new-rider-buttons {
  border: 1px solid #c0c2c3 !important;
}
.assign-order-button,
.auxillary-save-button__active {
  color: white;
  background: #1a7fc3;
  border: 1px solid #1b7fc3;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}
.auxillary-save-button__inactive {
  color: white;
  background: #bdbdbd;
  border: 1px solid #bdbdbd;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  pointer-events: none;
}
.assign-owner-find {
  background: #1a7fc3 !important;
  border: 1px solid #1b7fc3 !important;
}
.assign-owner-failed {
  background: #e53935 !important;
  border: 1px solid #e53935 !important;
}
.assign-owner-success {
  background: #43a047 !important;
  border: 1px solid #43a047 !important;
}
.assign-header {
  color: #1b7fc3;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  padding: 5px;
  width: max-content;
}
.assign-par {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.inactive-assign-input {
  cursor: not-allowed;
  color: #696767;
}
.inactive-assign-button {
  cursor: not-allowed;
  background: #bdbdbd;
  border-color: #bdbdbd;
}
.search-failed-owner,
.add-owner-success {
  font-style: italic;
  width: max-content;
  position: absolute;
  margin-left: 5px;
  font-weight: 700;
  margin-bottom: 0px;
}
.search-failed-owner {
  color: #e53935;
}
.add-owner-success {
  color: #43a047;
  margin-top: 0px;
}
.no-margin {
  margin: 0 !important;
}
.cell-override {
  padding: 0px;
  background-color: rgba(245, 245, 245, 0.56) !important;
  font-size: 13px;
  width: 100vw;
}
.assign-owner-button {
  border-radius: 5px;
  width: 130px;
  height: 40px;
  margin: 5px;
  position: absolute;
  margin-left: 10px;
  color: white;
  font-weight: 700;
  background: #1b7fc3;
}
.driver-assign-row {
  display: flex;
  border-bottom: 1px solid #d3d6d8;
  overflow: visible;
  height: 40px;
  margin-bottom: 10px;
}
.driver-assign-tabs {
  width: 70px;
  text-align: center;
  margin-right: 2%;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 40px;
}
.assign-owner-input {
  width: 250px;
}
.assign-details-tab {
  margin-top: 15px;
}
.save-truck-button,
.driver-assign-inputs {
  width: -webkit-fill-available;
}
.finances-tab {
  border: 1px solid #bdbdbd;
  margin-top: -1px;
  padding: 20px;
  width: 100%;
}
.save-truck-button {
  font-weight: 600;
  margin-left: 20px;
  text-decoration: underline;
  color: #1a7fc3;
  cursor: pointer;
}
.freight-order-assign {
  width: 60%;
}
.active-driver-assign-tabs {
  border-top: 3px solid #1a7fc3;
  border-left: 1px solid #d3d6d8;
  border-right: 1px solid #d3d6d8;
  border-bottom: 4px solid white;
}
.inactive-driver-assign-tabs {
  border-top: solid 3px white;
}
.pointer {
  cursor: pointer;
}
.container-edit-input {
  width: 80%;
}
.input-blinder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff85;
  cursor: not-allowed;
}
.edit-container-icon {
  margin: 12px;
}
.container-cancel-input {
  color: #e53935;
  text-decoration: underline;
  font-weight: 600;
}
.container-save-input {
  color: #1b7fc3;
  text-decoration: underline;
  font-weight: 600;
}
.pending-container {
  color: white;
  background: #e53935;
}
.transit-container,
.ec-container {
  color: white;
  background: #155d8d;
}
.complete-container {
  color: white;
  background: #43a047;
}
.container-button {
  width: 100%;
  font-weight: 900;
  border: none;
  font-size: 11px;
  padding: 4px;
}
.freight-order-actions-buttons {
  width: 110px;
  margin: 5px;
  height: 40px;
  border: 1px solid #1b7fc3;
}
.freight-button-width-override {
  width: 140px !important;
}
.freight-order-actions-buttons:focus {
  border: 1px solid #1b7fc3 !important;
}
.active-tab {
  background: #1b7fc3;
  color: white;
}
.inactive-tab {
  background: white;
  color: #1b7fc3;
}
.new-driver-details,
.new-truck-details {
  border: 1px solid #d3d6d8;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}
.input-labels {
  position: absolute;
  background: white;
  margin-top: -35px;
  margin-left: 20px;
  padding: 10px;
  color: #1b7fc3;
  font-weight: 700;
}
.status-indicator {
  width: 15px;
  height: 15px;
  border: 1px solid #1b7fc3;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
  background: white;
}
.active-status-indicator {
  border: 1px solid #f57f20 !important;
}
.progress-indicator {
  background-color: #1b7fc3;
  width: 100%;
  height: 100%;
}
.indicator-container {
  width: 85px;
}
.indicators {
  display: flex;
}
.center-text {
  text-align: center;
}
.indicator-divide {
  height: 2px;
  background: #e1e3e8;
  width: 85px;
  margin-left: 42.5px;
  position: relative;
  top: 8px;
}
.status-action {
  display: flex;
  margin-bottom: 25px;
}
.status-action-label {
  width: 200px;
  height: 40px;
  border: 1px solid #d3d6d8;
  padding: 12px;
  text-align: center;
}
.status-action-button {
  width: 100px;
  height: 40px;
}
.status-action-button-confirm {
  background: #1a7fc3;
  color: white;
  border: 1px solid #1b7fc3;
}
.status-action-button-complete {
  background: #43a047;
  color: white;
  border: 1px solid #43a047;
}
.status-action-button-failed {
  background: #e53935;
  color: white;
  border: 1px solid #e53935;
}
.status-progress {
  display: flex;
}
.progress-icon-inactive {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #d3d6d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-icon-active {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #1b7fc3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.progress-icon-left,
.progress-icon-right {
  margin-left: 20px;
  margin-right: 20px;
}
.plain {
  padding-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 0px;
  padding-bottom: 0px;
}
.main-plain {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.nps-holder {
  padding-top: 30px !important;
}
.nps-side {
  margin-right: 70px;
  margin-left: 8px;
}
.accordion-item-trigger-icon {
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  border-right: 2px solid #363636;
  border-bottom: 2px solid #363636;
  -webkit-transform: translateY(-2px) rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
#nps-input {
  background: #f5f7fa !important;
  border: none !important;
}
.nps-back-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #f57f20;
}
.date-info {
  padding-left: 7em;
  margin-bottom: 20px;
}
.back-icon {
  position: absolute;
  -webkit-transform: translateY(-2px) rotate(130deg);
  transform: translateY(-2px) rotate(130deg);
  width: 13px;
  height: 13px;
  top: 4px;
  border-right: 2px solid #f57f20;
  border-bottom: 2px solid #f57f20;
}
.back-text {
  margin-left: 21px;
}
.metrics-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  color: #126aa6;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 29px;
}
.metrics-date {
  text-align: right;
  margin-left: 63%;
  max-width: 33%;
}
#nps-input::placeholder {
  color: #000000;
}
.ti-input {
  border: none !important;
  background: #f5f7fa !important;
}
.ti-tags {
  background: #f5f7fa;
  border-radius: 0;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.ti-tag {
  background-color: #ebf1f7 !important;
  border-radius: 50px !important;
  color: #000000 !important;
  font-size: 16px !important;
  padding: 7px 27px !important;
}
.ti-new-tag-input-wrapper input {
  background: #f5f7fa;
  cursor: pointer;
}
.ti-new-tag-input-wrapper::placeholder {
  color: #000000;
  font-size: 16px;
  line-height: 28px;
}
.ti-new-tag-input::placeholder {
  color: #000000;
  opacity: 1;
  font-size: 16px;
  line-height: 28px;
}
.ti-new-tag-input::-ms-input-placeholder {
  color: #000000;
  font-size: 16px;
  line-height: 28px;
}
.ti-new-tag-input.ti-new-tag-input::-ms-input-placeholder {
  color: #000000;
  font-size: 16px;
  line-height: 28px;
}
.ti-icon-close {
  color: #ff3d00;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 4px;
}
.datetimepicker .datepicker {
  position: relative !important;
  min-width: 378px !important;
}
.el-input-group__prepend {
  width: 46%;
}
.el-table__row {
  height: 44px;
}
.el-table thead {
  color: #606266 !important;
}
.el-table .cell {
  line-height: 20px !important;
}

.el-table td,
.el-table th {
  padding: 10px 0;
}
.el-table--border td,
.el-table th.is-leaf {
  border-bottom: 1px solid #dcdfe6;
}

.el-table--border td,
.el-table--border th,
.el-table--border th {
  border-right: 1px solid #dcdfe6;
}

.el-table--border,
.el-table--group {
  border: 1px solid #dcdfe6;
}
.table-bordered td,
.table-bordered th {
  border: none;
}
.el-table__expanded-cell {
  background-color: white;
}
.el-table__expanded-cell:hover {
  background-color: white !important;
}

.el-table td,
.el-table th {
  padding: 0px;
}
.el-table th,
.el-table tr {
  height: 55px !important;
  border-color: #ffffff !important;
}
.el-table td {
  border-color: #ffffff !important;
}
.el-table::before {
  background-color: #ffffff;
}
.el-table {
  background-color: #f9f9f9;
  font-size: 12px;
  color: #555 !important;
}
.expanded {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075) !important;
}
.text-grey {
  color: #b8c7ce !important;
}
.is-invalid > .config-input {
  border: 1px solid red;
}
textarea.is-invalid {
  border: 1px solid red;
}
.content-wrapper,
.right-side {
  background: #f2f6fc !important;
}
.ticket-select > .vs__dropdown-toggle {
  border: none !important;
}
.el-tabs__item {
  font-size: 15px;
  line-height: 28px;
  color: #606266;
}
.el-tabs__item.is-active {
  color: #324ba8;
}
.el-tabs__active-bar {
  color: #324ba8;
  background-color: #324ba8;
  height: 4px;
}
.el-tabs__item:hover {
  color: #324ba8;
}
.fulfilment-tabs {
  margin-bottom: -1px;
}
.fulfilment-tabs-titles {
  padding: 15px;
  color: #1b7fc3;
  font-size: 14px;
}
.active-price-configs-tab {
  border-top: 2px solid #1b7fc3;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid white;
}
.fulfilment-component {
  border: 1px solid #ebebeb;
  padding: 30px;
}
.fulfilment-container {
  width: 98%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 100px;
  flex-direction: column;
  display: flex;
}
.fulfilment-header {
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: -50px;
}
.fulfilment-label {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  margin-top: 0%;
  margin-left: 20px;
  line-height: 60px;
}
.main-sidebar {
  font-family: 'Nunito', sans-serif;
}
.skin-blue .sidebar-menu > li.header {
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff !important;
  background: inherit !important;
  text-transform: uppercase;
}
.fulfilment-tabs > .el-tabs--top > .el-tabs__header {
  width: 39%;
}
.region-label {
  width: 48% !important;
}
.el-table__expanded-cell {
  padding: 15px 10px !important;
}
.fulfilment-table-wrapper {
  background: #fefefe;
  border: 1px solid #DCDFE6;
  padding: 20px;
}
.fulfilment-font {
  font-family: Nunito, sans-serif !important;
}
.el-table th > .cell {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}
.sidebar-img {
  width: 5%;
}
.sidebar-divider {
  background: rgba(154, 154, 154, 0.29);
  margin: 7px 0;
}
.timeline > li > .fulfilment-timeline {
  margin-right: 0px !important;
}
.fulfilment-timeline-header {
  font-size: 12px;
}
.fulfilment-timeline-timestamp {
  font-size: 11px;
  margin-top: 3%;
  color: #909399;
}
.fulfilment-activity-header {
  margin-left: 9%;
  color: #000000;
  letter-spacing: 1.5px;
  font-size: 14px;
  margin-bottom: 6%;
}
