.fulfillment-tab-info {
  width: 100%;
}
.fulfillment-tab-info-top {
  width: 100%;
  display: flex;
}
.fulfillment-tab-info-bottom {
  width: 100%;
}
.fulfillment-tab-info-seller {
  width: 50%;
}
.fulfillment-tab-info-recipient {
  width: 50%;
}
.fulfillment-tab-info-titles {
  font-size: 14px;
  line-height: 28px;
  margin: 3% 0%;
  font-weight: 400;
  color: #000000;
}
.fulfillment-tab-info-description {
  display: flex;
  height: 30px;
  align-items: center;
  font-size: 13px;
}
.fulfillment-tab-info-description-icon {
  color: #909399;
  margin: 5px 15px 5px 0px;
}
.fulfillment-tab-info-rider-img {
  width: 60px;
  border-radius: 20px;
  height: 60px;
  margin: 0px 20px 0px 0px;
}
.fulfillment-tab-info-rider-details {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}
.fulfillment-tab-info-rider-phone {
  display: flex;
}
.fulfillment-tab-info-view-batch {
  cursor: pointer;
  color: #0049b7;
  margin-left: 10%;
  font-weight: 500;
}
.fulfillment-tab-info-items-img {
  width: 60px;
  margin: 10px;
  height: 60px;
  object-fit: contain;
}
.filtersBar {
  margin-bottom: 3%;
  z-index: 100;
}
.fulfilment-status-filter input {
  height: 37px;
  border: none;
  font-weight: bold;
  font-size: 10.5378px;
  color: #000000;
}
.fulfilment-status-filter input::placeholder {
  color: #000000;
}
.fulfilment-status-filter .el-select__caret {
  color: #000000 !important;
  font-weight: bold;
  font-size: 10.5378px !important;
}
.fulfilment-search-filter .el-input__inner {
  border: none;
  height: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 10.5378px;
  line-height: 14px;
  color: #9e9e9e;
}
.fulfilment-search-filter .el-icon-search {
  color: #909399;
  font-weight: bold;
  font-size: 10.5378px;
  line-height: 37px;
}
.pricing-tiers-table .el-table__header-wrapper {
  display: none;
}
.pricing-tiers-table .el-table__row {
  height: 30px !important;
}
.fulfilment-tabs-vehicle-details {
  width: 55%;
}

.fulfilment-tabs .el-tabs__nav-wrap::after {
  height: 1px;
  background-color: #c0c4cc;
}
.fulfilment-filter-header {
  font-size: 12px;
  letter-spacing: 0.005em;
  color: #000000;
}
.fulfilment-multiselect .multiselect__tags {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}
.fulfilment-multiselect .multiselect__tag {
  margin-bottom: 0px;
  font-size: 13px;
  letter-spacing: 0.005em;
}
.fulfilment-multiselect .multiselect__input::placeholder,
.fulfilment-multiselect .multiselect__option {
  font-size: 13px;
}
.fulfilment-multiselect
  .multiselect__option--selected.multiselect__option--highlight {
  background: #3c8dbc !important;
}
.multiselect__tag-icon:hover,
.multiselect__tag-icon:focus {
  background-color: #3c8dbc !important;
}

.fulfilment-action-button,
.fulfilment-batch-actions .el-button--primary:active,
.fulfilment-batch-actions .el-button--primary:hover,
.fulfilment-batch-actions .el-button--primary:focus {
  background: #0062db;
  border-color: #0062db;
  letter-spacing: 0.005em;
}
.fulfilment-table-wrapper .el-table__empty-block {
  display: none !important;
}
.fulfilment-table-wrapper .el-table th .el-checkbox {
  margin-left: 5px;
  margin-top: 7px;
}
.fulfilment-table-wrapper .el-table th > .cell {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  font-weight: bold;
  font-size: 12.294px;
  line-height: 17px;
  color: #000000;
}
.fulfilment-table-wrapper .el-checkbox__inner {
  border: 1px solid #9e9e9e;
  box-sizing: border-box;
  border-radius: 3px;
}

.fulfilment-table-wrapper .el-checkbox__input.is-checked .el-checkbox__inner,
.fulfilment-table-wrapper
  .el-checkbox__input.is-indeterminate
  .el-checkbox__inner {
  background-color: #324ba8;
  border-color: #324ba8;
}

.fulfilment-batch-actions .el-button--primary.is-disabled,
.fulfilment-batch-actions .el-button--primary.is-disabled:active,
.fulfilment-batch-actions .el-button--primary.is-disabled:focus,
fulfilment-batch-actions .el-button--primary.is-disabled:hover {
  color: #c0c4cc;
  background-color: #f0f3f7;
  border-color: #f0f3f7;
}
.full-width {
  width: 100% !important;
}
.action-submit-button {
  background: #0049b7;
  border: 1px solid #0049b7;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  margin: 20px 0 !important;
}
.fulfilment-batch-actions .el-form-item__label {
  line-height: 0;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #000000;
}
.fulfilment-batch-actions .el-input__inner {
  padding-right: 30px;
  border: 1px solid #b3afaf;
  border-radius: 6px;
}
.fulfilment-batch-actions .el-input__inner::placeholder {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
}
.fulfilment-batch-actions .el-select .el-input .el-select__caret {
  color: #000000;
}

.fulfilment-batch-actions .no-results {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000 !important;
  font-size: 12px !important;
}
.fulfilment-batch-actions .Typeahead__input {
  padding-right: 30px !important;
  border: 1px solid #b3afaf !important;
  border-radius: 6px !important;
  width: 94% !important;
}
.fulfilment-batch-actions .fa-spinner {
  font-size: 19px;
  margin-top: 10px;
}
.hub-margin {
  margin-top: 1%;
}

.fulfilment-table-wrapper
  .el-tabs--border-card
  > .el-tabs__header
  .el-tabs__item
  + .el-tabs__item,
.fulfilment-table-wrapper
  .el-tabs--border-card
  > .el-tabs__header
  .el-tabs__item:first-child {
  font-size: 13px;
}
.fulfilment-table-wrapper .el-tabs--border-card {
  box-shadow: none;
}
.hubs-header-flex {
  display: flex;
  justify-content: space-between;
}
.add-hub-outer {
  margin-right: 1.5%;
}
.fulfilment-add-hub-button {
  background: #528bb8;
  border-color: #528bb8;
  letter-spacing: 0.005em;
}
.fulfilment-add-hub-button.el-button:hover,
.fulfilment-add-hub-button.el-button:focus {
  background: #528bb8 !important;
  border-color: #528bb8 !important;
}
.movable-units-batch-table {
  max-width: 100%;
  margin-top: 2%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.fulfilment-batch-actions > .view-order {
  font-size: 14px;
  color: #0049b7;
  margin-right: 5%;
  cursor: pointer;
}
.fulfilment-batch-actions > .remove-order {
  font-size: 14px;
  color: #9b101c;
  cursor: pointer;
}
.add-batch-section {
  background: #ffffff;
  border: 1px solid #1b7fc3;
  color: #1b7fc3;
  margin-left: 2%;
  margin-bottom: 1%;
}
.add-batch-section:focus,
.add-batch-section:hover,
.add-batch-section:active {
  background: #ffffff !important;
  border: 1px solid #1b7fc3 !important;
  color: #1b7fc3;
  cursor: pointer;
}
.add-batch-container {
  float: right;
  margin-right: 3%;
  margin-bottom: 2%;
}
.fulfilment-actions-holder {
  margin-top: 2em;
}
.el-button--primary.is-plain:focus {
  background: #528bb8;
  border-color: #528bb8;
  color: #fff;
}
.addHubDialog > div > .el-dialog__header {
  margin: 2% !important;
}
.addHubDialog > div > .el-dialog__body {
  margin: 2% !important;
}
.tiers-container {
  width: 50%;
}
.tiers-inner {
  width: 50%;
}

.items-total-container {
  display: flex;
  margin-top: 4%;
}
.items-divider {
  width: 360px;
}
.items-total-label {
  width: 240px;
  text-align: center;
}
.items-total-quantity {
  width: 153px;
  text-align: center;
}
.fulfilment-date-class .field-input {
  border: 1px solid #b3afaf !important;
  border-radius: 6px !important;
  margin-top: 1em;
}
.fulfilment-date-class .field-input::placeholder {
  color: #000000;
}
.multiselect__single {
  margin-bottom: 0px !important;
  font-size: 13px !important;
  letter-spacing: 0.005em;
  background-color: #3c8dbc !important;
  text-transform: capitalize;
  color: #fff;
  margin-right: 10px;
  padding: 0 10px !important;
}
.delivery-partners-section {
  margin-right: 3%;
}
.fulfilment-delivery-partners-container {
  display: flex;
}
.fa-spin {
  color: #1b7fc3;
}
.add-batch .el-dialog__title,
.add-batch .el-dialog__close {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.add-batch .fa-spin {
  margin-left: -2em !important;
}
.transform-vehicle-name {
  text-transform: capitalize;
  font-weight: 300;
}
.fulfilment-vendor-image {
  width: 10%;
  margin-left: 7px;
}
.fulfilment-recommended-vehicles {
  margin-top: 5%;
}
.el-timeline-item__tail {
  margin-left: 1%;
}
.el-timeline-item__icon {
  font-size: 22px;
}
.el-timeline-item__content {
  margin-left: 2%;
}
.fulfilmentDialog > div > .el-dialog__header {
  margin: 2% !important;
  padding: 30px 30px 10px 30px;
}
.fulfilmentDialog > div > .el-dialog__body {
  margin: 2% !important;
  padding: 0px 30px 16px;
}
.child-order-action {
  font-family: Nunito, sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  padding-left: 4px;
}
.remove-order-dialog > div > .el-dialog__body {
  padding: 0px 30px 20px 30px;
}
.remove-order-dialog > .el-dialog {
  margin-top: 35vh !important;
  width: 26% !important;
}
.fulfilment-cancelation-text {
  font-size: 16px;
  color: #000000;
  margin: 2% 0;
}
.remove-order-btn {
  background: #9b101c;
  border: 1px solid #9b101c;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  margin: 20px 0 !important;
}
.close-order-dialog {
  text-align: center;
  cursor: pointer;
  margin-bottom: 2%;
  color: #324ba8;
  font-size: 14px;
  font-weight: 600;
}
.fulfilment-delivery-partner-inner {
  display: flex;
}
.fulfilment-batch-actions .el-dialog__title {
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.112081px;
  color: #000000;
}
.fulfilment-batch-actions .el-dialog__headerbtn .el-dialog__close {
  color: #000000;
  font-weight: 700;
}
.fulfilment-batch-actions .el-dialog__body {
  padding: 13px 20px;
}
.requestTransportDialog > .el-dialog {
  margin-top: 20vh !important;
  width: 32% !important;
}
.requestTransportDialog > div > .el-dialog__header {
  margin: 2% !important;
  padding: 30px 30px 10px 45px;
}
.requestTransportDialog > div > .el-dialog__body {
  margin: 2% !important;
  padding: 0px 30px 16px;
}
.el-select-dropdown__item {
  font-size: 13px;
  color: #303133;
}
.batch-details-dialog-title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  width: 70%;
}
.batch-details-dialog > div > .el-dialog__header {
  padding-top: 6% !important;
}
.batch-details-dialog > div > .el-dialog__body {
  padding-top: 0% !important;
}
.batch-child-orders-icon {
  color: #0c0c0c !important;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.fulfilment-summary-details-header {
  color: #000000;
  margin: 2% 0;
  font-size: 13px;
  margin-bottom: 0% !important;
}
.fulfilment-summary-details-info {
  font-size: 12px;
  margin: 0% 0% 4% 8%;
}
.batch-summary-body {
  padding: 2% 7% !important;
}
.failed-request-outer {
  background: #ffbf8552;
  border-radius: 7px;
  margin: 3% 1%;
}
.failed-request-inner {
  padding: 2%;
  display: flex;
  align-items: center;
}
.failed-request-msg {
  color: #000000;
  margin-left: 1%;
  font-size: 13px;
  line-height: 17px;
  font-weight: 500;
  display: flex;
  width: 84%;
}
.failed-request-expand-section {
  margin-left: 7%;
  font-size: 20px;
  cursor: pointer;
}
.failed-request-divider {
  border-top: 1px solid #d8dfe6 !important;
  margin-bottom: 5%;
}
.batch-details-date {
  margin-left: 0% !important;
  font-size: 15px;
}
.failed-request-actions {
  margin: 2% 0px 5% 0px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
}
.reschedule-batch-child {
  color: #324ba8;
  margin-right: 2%;
}
.cancel-batch-child {
  color: #9b101c;
  margin-right: 2%;
}
.batch-input-label {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
  margin-top: 1em;
}
.textarea-control {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  outline: 0;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
}
.textarea-control:focus,
.textarea-control:hover,
.textarea-control:active {
  border: 1px solid #3a6dae;
}
.batch-actions-dialog {
  margin: 2%;
}

.batch-cancel-label {
  margin-bottom: 2%;
}
.cancel-batch-order-btn {
  width: 41% !important;
  background: #9b101c !important;
  color: #ffffff !important;
  border: 1px solid #9b101c !important;
  font-size: 12px !important;
  border-radius: 3px;
  height: 40px;
  font-weight: 500 !important;
}
.batch-cancellation-reason {
  margin-bottom: 4%;
}
.reschedule-batch-order-btn {
  width: 41% !important;
  background: #324ba8 !important;
  color: #ffffff !important;
  border: 1px solid #324ba8 !important;
  font-size: 12px !important;
  border-radius: 3px;
  height: 40px;
  font-weight: 500 !important;
}
.disabled-batch-order-btn {
  width: 41% !important;
  background: #c0c4cc !important;
  color: #ffffff !important;
  border: 1px solid #c0c4cc !important;
  font-size: 12px !important;
  border-radius: 3px;
  height: 40px;
  font-weight: 500 !important;
}
.batch-dialog-back-btn {
  color: #000000;
  font-size: 19px;
  margin-right: 2%;
  cursor: pointer;
}
.reschedule-batch-dialog {
  margin: 7% 7% 4% 7%;
}
.cancel-batch-dialog {
  margin: 4% 7%;
}
.failed-request-details {
  padding: 2%;
  align-items: center;
  display: flex;
  margin-top: 3%;
}
.details-content {
  width: 50%;
  margin-bottom: 3%;
}
.failed-request-date {
  color: #680720;
  margin-left: 1%;
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  margin-top: 2%;
}
.failed-request-reason {
  color: #680720;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  margin: 2% 1%;
}
.failed-request-header {
  color: #9b101c;
  margin-left: 1%;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  margin-bottom: 2%;
}
.scheduled-date-margin {
  margin-top: 3%;
}
.cancel-batch-action-section {
  margin-left: 0%;
  width: 50%;
}
.reschedule-fulfilment-date {
  width: 90% !important;
  margin-top: 3%;
}
.mc-seller-search {
  width: 35%;
  margin-right: 2%;
}
.mc-seller-stats-cards-inner {
  display: flex;
  width: 100%;
}
.mc-seller-stats-cards {
  width: 100%;
}
.mc-seller-card-title {
  margin-bottom: 8%;
}
.mc-seller-card-description {
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.el-card {
  margin-bottom: 3%;
}
.mc-seller-stats-sum > div > .el-card__body {
  background-color: #e2e7ed;
  border: none;
}
.mc-seller-stats-total-amount > div > .el-card__body {
  background-color: #fdf1cc;
  border: none;
}
.mc-seller-stats-overdue-payment > div > .el-card__body {
  background-color: #fbdecf;
  border: none;
}
.mc-seller-search-img {
  width: 100%;
  cursor: pointer;
}
.mc-seller-view-all {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  color: #324ba8;
}
.mc-seller-filters {
  display: flex;
  margin-bottom: 1%;
}
.mc-seller-duration-dropdown {
  margin-right: 2%;
}
.mc-seller-country-filter {
  margin-top: 3%;
}
.mc-fulfilment-header {
  font-weight: 500;
  line-height: 38px;
  font-size: 22px;
  padding-bottom: 0;
  padding-top: 15px;
  width: 97%;
  margin-top: 0;
  margin-left: 20px;
}
.mc-seller-search-input {
  width: 33%;
}
.mc-seller-table-wrapper {
  margin-top: 3%;
  width: 80%;
}
.mc-seller-header {
  background: #f5f7fa !important;
}
.mc-seller-breadcrumb {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
  color: #324ba8;
  font-weight: 500;
  cursor: pointer;
}
.mc-list-next {
  margin-left: 7px;
}
.mc-inactive {
  color: #909399 !important;
}
.mc-seller-container {
  width: 99%;
  margin: 0 auto;
  padding-top: 0px;
  margin-bottom: 100px;
  flex-direction: column;
  display: flex;
}
.mc-seller-tabs {
  margin-bottom: -1px;
}
.mc-seller-tabs > .el-tabs--top > .el-tabs__header {
  width: 24%;
}
.mc-seller-table-container {
  width: 80%;
  margin-top: 3%;
}
.mc-seller-download-invoice {
  color: #324BA8;
  font-weight: 600;
  cursor: pointer;
}
