.fulfillment-tab-info {
  width: 100%;
}
.fulfillment-tab-info-top {
  width: 100%;
  display: flex;
}
.fulfillment-tab-info-bottom {
  width: 100%;
}
.fulfillment-tab-info-seller {
  width: 50%;
}
.fulfillment-tab-info-recipient {
  width: 50%;
}
.fulfillment-tab-info-titles {
  font-size: 14px;
  line-height: 28px;
  margin: 15px 0px;
  font-weight: 500;
  color: #1F1E1E;
}
.fulfillment-tab-info-description {
  display: flex;
  height: 30px;
  align-items: center;
  font-size: 13px;
}
.fulfillment-tab-info-description-icon {
  color: #909399;
  margin: 5px 15px 5px 0px;
}
.fulfillment-tab-info-rider-img {
  width: 60px;
  border-radius: 20px;
  height: 60px;
  margin: 0px 20px 0px 0px;
}
.fulfillment-tab-info-rider-details {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}
.fulfillment-tab-info-rider-phone {
  display: flex;
}
.fulfillment-tab-info-view-batch {
  cursor: pointer;
  color: #0049B7;
  margin-left: 10%;
  font-weight: 500;
}
.fulfillment-tab-info-items-img {
  width: 60px;
  margin: 10px;
}
.filtersBar {
  margin-bottom: 3%;

}
.fulfilment-status-filter input {
  height: 37px;
  border: none;
  font-weight: bold;
  font-size: 10.5378px;
  color: #000000;
}
.fulfilment-status-filter input::placeholder {
  color: #000000;
}
.fulfilment-status-filter .el-select__caret {
  color: #000000 !important;
  font-weight: bold;
  font-size: 10.5378px !important;

}
.fulfilment-search-filter .el-input__inner {
  border: none;
  height: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 10.5378px;
  line-height: 14px;
  color: #9E9E9E;
}
.fulfilment-search-filter .el-icon-search {
  color: #909399;
  font-weight: bold;
  font-size: 10.5378px;
  line-height: 37px;
}
.pricing-tiers-table .el-table__header-wrapper {
  display: none;
}
.pricing-tiers-table .el-table__row {
  height: 30px !important;
}
.fulfilment-tabs-vehicle-details{
  width: 55%;
}
