.centre-loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.outline-inner-data {
  width: 100%;
}
.add_section{
  background: #FFFFFF;
  border: 1px solid #000000;
  color: #1F1D1D;
  margin-left: 2%;
  width: 100% !important;
  margin-bottom: 1%;
}
.add_section:focus,
.add_section:hover {
  background: #FFFFFF !important;
  border: 1px solid #000000 !important;
  color: #1F1D1D;
  cursor: pointer;
}
.flex-container {
   display: flex;
}
.header--search {
    display: flex;
    flex: 9;
}
.header--add{
  display: flex;
  flex: 2;
}
.config-search {
  width: 50%;
  font-size: 14px;
  color: #2c3e50;
  line-height: 1.42857143;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-weight: 300;
  padding: 12px 26px;
  border: none;
  border-radius: 22px;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.config-search:focus {
  border-color: 2px solid #0097cf ! important;
  outline: 0;
}
.config-search-icon{
  margin-top: 0%;
}
.intercounty-table {
  max-width: 100%;
  margin-top: 2%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.edit-back {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .3s;
  line-height: 50px !important;
  cursor: pointer;
  border: 1px solid #555;
  text-align: center;
  font-size: 23px;
  background-color: #FFF;
}
.add-destination-container{
  width: 50% !important;
  margin-top: 1%;
}
.inter-county-headers {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1e7d11 !important;
  font-size: 15px;
  font-weight: 600;
}
.new-pricing-tab-rows {
  display: flex;
  margin-bottom: 20px;
}
.pricing-input-labels {
  margin: 5px;
}
.single-suggestion {
  cursor: pointer;
  height: 25px;
  padding-right: 15px;
}
.new-pricing-config-inputs {
  height: 40px;
  width: 250px;
  margin-right: 20px;
}
.map-content{
  width: 100% !important;
  height: 300px !important;
  position: relative !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.inter-county-map{
  background-color: rgba(153, 153, 153, 0.28);
  margin-top: 4%;
  width: 100%;
  height: 300px !important;
  border: 0px;
}
.pickup-location{
  flex: 1;
}
.vendor-options{
  margin-top: 4%;
}
.vendors-select{
  width: 100%;
  margin-top: 1%;
}
.delivery-range-margin{
  margin-bottom: 5%;
}
.extra-dist{
  margin-right: 0;
}
.add-collection-icon{
  margin-right: 2%;
  font-size: 18px;
  margin-top: 3%;
  color: #1782c5;
}
.close-icon{
  font-size: 18px;
  margin-top: 3%;
  color: #FF0000;
  margin-left: 3%;
}
.add-collection-extra{
  font-size: 16px;
  color: #1782c5 !important;
}
.new-pricing-input-buttons {
  height: 40px;
  width: 165px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  border: 0px solid;
}
.new-pricing-submit-button {
  background: #1b7fc3;
  border-color: #1b7fc3;
}
.submit-intercounty-config{
  margin-top: 3%;
}
.intercounty-pricing-inputs{
  height: 40px;
  width: 200px;
  margin-right: 20px;
}
