.pricing-p {
    font-style: Italic;
    text-align: Left;
    color: #606266;
    margin-top: 3%;
}
.pricing-vendor-select {
    margin-top: 3%;
    margin-left: 15%;
}
.pricing-checkboxes {
    margin-top: 1%;
    margin-bottom: 0.5%;
    margin-left: 5%;
}
.pricing-checkbox-box {
    columns: 2 8em;
    margin-top: 1%;
    margin-left: 3%;
    width: 55%;
}
.pricing-radio-box {
    margin-top: 1%;
    margin-left: 3%;
    width: 55%;
}
.pricing-next-button {
    margin-left: 63% !important;
    margin-top: -15% !important;
    width: 101px !important;
}
.radiobtn {
    position: relative;
    display: block;
}
.radiobtn label {
    display: block;
    background: #e4f2fb;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #5eb0e9;
    margin-bottom: 5px;
    cursor: pointer;
}
.radiobtn label:after,
.radiobtn label:before {
    content: '';
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: transparent;
}
.radiobtn label:before {
    z-index: 2;
    overflow: hidden;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type='radio'] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}
.radiobtn input[type='radio']:checked + label {
    background: #3c8dbc;
    animation-name: blink;
    animation-duration: 1s;
    border-color: #5eb0e9;
    color: #ffffff;
}
.radiobtn input[type='radio']:checked + label:after {
    background: #3c8dbc;
}
.radiobtn input[type='radio']:checked + label:before {
    width: 20px;
    height: 20px;
}
.pricing-tables{
    margin-top: 3%;
    color: #757575;
    font-weight: normal;
}
.pricing-add-row{
    margin-top: 2%;
    color: #757575;
}
.pricing-save-btn{
    float: right !important;
    margin-top: 1% !important;
    color: white !important;
}
.approve-config-btn{
    float: right !important;
    margin-top: 1% !important;
    color: white !important;
    background-color: #43A047 !important;
}
.pricing-back-text {
    margin-top: 3%;
    color: #1B7FC3;
    margin-bottom: 4%;
    cursor: pointer;
    border-color: white !important;
}
.pricing-remove {
    margin-top: 3%;
    float: right;
    color: #1B7FC3;
    margin-bottom: 4%;
    cursor: pointer;
    border-color: white !important;
}
.reject-config-text {
    margin-top: 3%;
    color: #E53935;
    margin-bottom: -4%;
    cursor: pointer;
    margin-left: 62%;
    border-color: white !important;
}
.pricing-save-btn .approve-config-btn .reject-config-text:focus{
    outline: none;
}
.pricing-back-text:focus{
    outline: none !important;
}
.pricing-sub-title{
    color: #BDBDBD;
}
.approval-sub-title{
    color: #BDBDBD;
    display: inline-block;
    font-size: 16px;
}
.pricing-pagination{
    color: #757575;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -7%;
    margin-top: 4%;
    margin-left: -27%;
}
.pricing-table-styling{
    margin-top: 3%;
}
h4 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.col-md-6.inactiveconfig {
    background: #f6f6f6;
    /* colorVeryLightGrey */
    border: 0.5px solid #f1f1f1;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.col-md-6.activeconfig {
    background: #ffffff;
    /* colorVeryLightGrey */

    border: 0.5px solid #f1f1f1;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-top: 3%;
    margin-bottom: 5%;
}
.table td {
    padding: 5px;
    /*border: none;*/
}
.card-table td {
    border: none !important;
}
.pricing-status-button{
    margin-top: 1rem;
    padding: 7px 23px;
    width: 85px;
}

.awaitingapproval {
    background: #fcf5b6;
    border-radius: 2px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
}

.active-status-tag {
    background: #daf9eb;
    border-radius: 2px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    /* identical to box height, or 10px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Green - Partner App */

    color: #51a65b;
}
.waiting-status-tag {
    background: #FCF5B6;
    border-radius: 2px;
    width: 124px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    /* identical to box height, or 10px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Green - Partner App */

    color: #757575;
}

.clientnameandcurrency {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: 1.3rem;
    color: #474747;
}

.pricingmodelname {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    /* colorSecondaryText */

    color: #757575;
}

.lastmodified {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    /* colorSecondaryText */

    color: #757575;
}

.configurationmessage {
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    display: flex;
    align-items: center;

    /* Medium Grey (For text) */

    color: #8a8a8a;
    padding-top: 25px;
}

.addcustompricing {
    /* Sendy Blue */

    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 3px;
    padding: 11px 14px;

    /*font*/
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Sendy White */

    color: #ffffff;
}
.approval-text-title{
    display: inline-block;
    color: #155D8D;
    float: right;
}
.approval-no-requests-text{
    color: #212529;
    text-align: left;
    padding: 1rem;
}
.submit-approval-btn{
    margin-top: 5% !important;
}
.edit-table-link{
    margin-top: 7%;
    color: #155D8D;
    margin-left: 62%;
    border-color: white;
}
.pricing-details-link{
    color: #1B7FC3 !important;
    border: none;
    text-decoration: underline;
}
.back-to-summary-link {
    margin-top: 3%;
    color: #155D8D;
    border-color: white;
}
.pricing-btn{
    margin-bottom: 5% !important;
}
.pricing-prepend{
    padding: 0 5px !important;
}
.pricing-view-actions{
    margin-bottom: 4%;
}
.pac-container {
    background-color: #fff;
    position: absolute !important;
    z-index: 9999999999999999999 !important;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.approver-title{
    color: #555555;
    margin-bottom: 2%;
}
.pricing-approver-select{
    text-align: center;
}
.reject-textarea {
    width: 495px !important;
    margin-left: 12% !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}
.reject-text-btn {
    margin-left: -62% !important;
}
.city-selector {
    border: none !important;
}
*:focus {
    outline: none;
}
.pricing-table{
    display: inline-block !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
    max-width: 1000px !important;
}
.pricing-delete-icon{
    color: #757575 !important;
}
.delete-col{
    border: none !important;
}